<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ncsavault.alabamavault">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/> -->
    <!-- &lt;!&ndash;<uses-permission android:name="android.permission.READ_PHONE_STATE"/>&ndash;&gt; -->
    <!-- &lt;!&ndash; GCM requires a Google account. &ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->


    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.ncsavault.alabamavault.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ncsavault.alabamavault.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.AndroidApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true">
        <activity
            android:name=".views.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=""
            android:launchMode="singleTask"
            android:logo="@drawable/actionbar_icon_text_padding"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".views.LoginPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/VaultTheme"></activity>
        <activity
            android:name=".views.UploadPhotoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/VaultTheme"></activity>
        <activity
            android:name=".views.UserProfileActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/VaultTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".views.ChangePasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/VaultTheme"></activity>
        <activity
            android:name=".views.ContactActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/VaultTheme"
            android:windowSoftInputMode="adjustPan"></activity>

             <activity
             android:name=".views.SplashActivity"
             android:exported="true"
             android:configChanges="keyboardHidden|orientation|screenSize"
             android:screenOrientation="portrait"
             android:theme="@style/VaultTheme">
             <intent-filter>
             <action android:name="android.intent.action.MAIN" />
             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
             <intent-filter>
             <action android:name="android.intent.action.VIEW" />
             <category android:name="android.intent.category.DEFAULT" />
             <category android:name="android.intent.category.BROWSABLE" />

             <data android:scheme="alabamavault"/>
             </intent-filter>
             </activity>

        <activity
            android:name=".views.LoginEmailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/VaultTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="appsflyer" />
                <!-- <data android:scheme="http" -->
                <!-- android:host="sometest.com"  /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".views.ForgotPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/VaultTheme"></activity>
        <activity
            android:name=".views.RegistrationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/VaultTheme"></activity>
        <activity
            android:name=".views.VerificationEmailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/VaultTheme"></activity>
        <activity
            android:name=".views.VideoInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme"></activity>

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.appsflyer.AppsFlyerLib">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="JW_LICENSE_KEY"
            android:value="alwVNHro7GbkbRpQ3fW8+oVbpIjtD7bB8WMZ2xIaUCEQnRQN" />
        <meta-data
            android:name="AppsFlyerDevKey"
            android:value="i6ZusgQ8L8qW9ADfXbqgre" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="ALABAMA Vault"
            android:theme="@style/FullyTranslucent"
            tools:replace="android:theme" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_test_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationName"
            android:value="ALABAMA Vault" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider2221643334726999"
            android:exported="true" />

        <!-- <receiver -->
        <!-- android:name="com.google.android.gcm.GCMBroadcastReceiver" -->
        <!-- android:permission="com.google.android.c2dm.permission.SEND" > -->
        <!-- <intent-filter> -->


        <!-- &lt;!&ndash; Receives the actual messages. &ndash;&gt; -->
        <!-- <action android:name="com.google.android.c2dm.intent.RECEIVE" /> -->
        <!-- &lt;!&ndash; Receives the registration id. &ndash;&gt; -->
        <!-- <action android:name="com.google.android.c2dm.intent.REGISTRATION" /> -->


        <!-- <category android:name="com.ncsavault.alabamavault" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->


        <!-- <service android:name=".GCMIntentService" /> -->
        <service
            android:name=".service.VideoDataService"
            android:enabled="true" />

        <service
            android:name=".service.TrendingFeaturedVideoService"
            android:enabled="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d2dd67ebb04ae3a478d630a28bef8ead1270834c" />

        <activity
            android:name=".views.HomeScreen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme_1">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:theme="@style/AppTheme_1"
            android:name=".views.VideoDetailActivity"></activity>
    </application>

</manifest>